@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* || SITEWIDE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #191919;
  padding-bottom: 50px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;    
}

/* || TOP NAVIGATION BAR */
.nav {
  position: fixed;
  overflow: hidden;
  background-color: #FAFAFA;
  top: 0;
  left: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.nav .container {
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}
  
.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav .navlinks {
  display: flex;
  justify-content: flex-end;
}

.nav .navlinks a {
  color: #191919;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

/* for fixing nav bar to top of page */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav .navlinks a.current,
.nav .navlinks a:hover {
  color: #F15025;
  font-weight: bold;
}

.actiontext {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: #F15025;
  margin-bottom: 3rem;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

/* || FOOTER */
.footer.container {
  padding: 3rem 1rem;
  margin: auto auto;
  max-width: 1024px;
}

.footer ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.footer .navlinks {
  display: grid;
  gap: 1rem;
  opacity: 80%;
}

.footer .navlinks a {
  text-decoration-line: underline;
  color: #191919;
  padding: inherit;
}

.footer .navlinks a.current,
.footer .navlinks a:hover {
  color: #F15025;
  font-weight: bold;
}

.header-text {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
}