@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* || SITEWIDE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

/* || GENERAL STYLES */
body {
  font-family: 'Open Sans', sans-serif;
  color: #191919;
  padding-bottom: 50px;
  line-height: 1.5;
}

ul {
  color: inherit;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

p {
  font-size: 1rem;
  padding-bottom: 1rem;
}

/* Animate links on hover: underline from left */
.animated-link {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.animated-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2F8D88;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.animated-link:hover::before {
  transform: scaleX(1);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  overflow: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* || TOP NAVIGATION BAR */
#header-text {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  padding-bottom: 0;
}

.nav {
  position: fixed;
  overflow: hidden;
  background-color: #FAFAFA;
  top: 0;
  left: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.nav .container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  transition: all 0.3s ease-in-out;
  margin-left: 7vw;
  margin-right: 5vw;
}
  
.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav .navlinks {
  display: flex;
  justify-content: flex-end;
}

.nav .navlinks a {
  color: #191919;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

/* for fixing nav bar to top of page */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav .navlinks a.current,
.nav .navlinks a:hover {
  color: #F15025;
  font-weight: bold;
}

/* || TYPOGRAPHY */
.accenttext1 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: #F15025;
  margin-bottom: 3rem;
}

.accenttext2 {
  color: #2F8D88;
}

.main {
  margin: auto auto;
  width: 100ch;
  top: 120px;
  position: relative;
  padding: 3rem 1rem;
}

/* || ABOUT SECTION */
#hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  animation-name: down-enter;
  animation: 1.4s down-enter cubic-bezier(.25,1,.5,1) backwards;
}

@keyframes down-enter {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  40% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#about-me {
  font-size: 1.5rem;
  font-style: italic;
}

/* || FOOTER */
.footer {
  padding: 3rem 1rem;
  margin: auto;
  animation: 1.8s fade-in cubic-bezier(.25,1,.5,1) backwards;
  bottom: 0;
  position: relative;
  width: 100ch;
  min-height: 17rem;
  overflow: hidden;
}

.footer ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.footer .navlinks {
  display: grid;
  gap: 1rem;
  opacity: 80%;
}

.footer .navlinks a {
  text-decoration-line: underline;
  color: #191919;
  opacity: 80%;
  padding: inherit;
}

.footer .navlinks a.current,
.footer .navlinks a:hover {
  color: #F15025;
  font-weight: bold;
}